<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Agregar computador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
         <h1 class="navbar-brand-expand-sm bg-danger text-light">Alquiler Computadores</h1>
         <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
        <a th:href="@{/}" class="navbar-brand">Inicio</a><br>
         </nav>
          <div class="container border border-primary w-25">
        <h1> Agregar cliente</h1>
       
        <form th:action="@{/guardar}" method="post" th:object="${computer}">
            <input type="hidden" name="Id" th:field="*{Id}">
            <label for="brand">Brand</label>
            <input type="text" for="brand" th:field="*{brand}"><br>
              <label for="model">model</label>
              <input type="text" for="model" th:field="*{model}"><br>
               <label for="category_id">Category Id</label>
               <input type="number" for="category_id" th:field="*{category_id}"><br>
               <button type="submit" name="guardar" value="Guardar" class="btn btn-primary">Guardar</button>
        </form>
         </div>
    </body>
</html>
