<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a th:href="@{/}">Inicio</a><br>
         <h1> Agregar cliente</h1>
        
        <form th:action="@{/guardarCliente}" method="post" th:object="${client}">
            <input type="hidden" name="idCliente" th:field="*{idcliente}">
            <label for="name">Name</label>
            <input type="text" for="name" th:field="*{name}"><br>
              <label for="email">Email</label>
              <input type="text" for="email" th:field="*{email}"><br>
               <label for="age">Age</label>
               <input type="number" for="age" th:field="*{age}"><br>
               <button type="submit" name="guardarCliente" value="guardarCliente">Guardar</button>
        </form>
    </body>
</html>
