<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body>
        <h1 class="navbar-brand-expand-sm bg-warning  text-primary">Alquiler de computadores</h1>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
          
            <a th:href="@{/Cliente}" class="navbar-brand">Clientes</a>
        </nav><br>
        <!<!-- boton agregar --> 
        <div class="container">
         <a th:href="@{/AgregarComputador}" class="btn btn-primary py-2 mb-3 ">Agregar Computador</a>
        <div th:if="${computadores != null and !computadores.empty}">
            <table border="1" class="table table-stryped table-hover">
                <tr>
                <thead class="thead-dark">
                    <th>Brand</th>
                    <th>model</th>
                    <th>Category id</th>
                    <th>Editar</th>
                    <th>Eliminar</th>


                </tr>
            </thead>
                <tr th:each="computer : ${computadores}">
                    <td th:text="${computer.brand}">Mostrar Nombre</td>
                    <td th:text="${computer.model}">Mostrar Apellido</td>
                    <td th:text="${computer.category_id}">Mostrar Email</td> 
                    <td><a th:href="@{/editar/}+ ${computer.Id}"  th:text="Editar"></a></td>
                    <td><a th:href="@{/eliminar/}+ ${computer.Id}"  th:text="Eliminar"></a></td>

                </tr>
            </table>
        </div>
        </div>
        <div th:if="${computadores == null or computadores.empty}">
            La lista de personas está vacía
        </div>

    </body>
</html>


